.header {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.header2 {
  display: flex;
}
a {
  color: inherit;
  text-decoration: none;
}

/* TODO: Add styling for your Header component
here. */
